.blue {
	background-color: blue;
	height: 80px;
}

.yellow {
	background-color: yellow;
	height: 400px;
}

.green {
	background-color: green;
	height: 400px;
}

.orange {
	background-color: orange;
	height: 80px;
}

.black {
	background-color: black;
	height: 80px;
}

.red {
	background-color: red;
	height: 80px;
}