<%= form_for(@hydrogen) do |f| %>
  <% if @hydrogen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hydrogen.errors.count, "error") %> prohibited this hydrogen from being saved:</h2>

      <ul>
      <% @hydrogen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
