<%= form_for(@lithium) do |f| %>
  <% if @lithium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lithium.errors.count, "error") %> prohibited this lithium from being saved:</h2>

      <ul>
      <% @lithium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
